{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h2>Give your feedback!</h2>

    {% for conference in conferences %}
        <h4><a href="conference/{{ conference.getId }}">{{ conference }}</a></h4>
        {% for comment in conference.getComments %}
            <p> {{ comment }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}